.section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.wordArticle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  & > * {
    cursor: default;
  }
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  & > input {
    text-align: center;
    max-width: fit-content;
  }
}
