.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  height: 100vh;
  color: white;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
