.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  height: 100vh;
  color: white;
}

.article {
  min-width: 15rem;
  background-color: rgba(23, 37, 84, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 2.5rem;
  border-radius: 0.75rem;
  box-shadow: 0 4px 6px -1px rgba(165, 243, 252, 0.5),
    0 2px 4px -2px rgba(165, 243, 252, 0.5);

  > :not(:first-child) {
    margin-top: 1.25rem;
  }
}

.button {
  background-color: rgba(23, 37, 84, 0.5);
  padding: 1rem 0.5rem;
  font-weight: 700;
  border-radius: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 6px -1px rgba(165, 243, 252, 0.25),
    0 2px 4px -2px rgba(165, 243, 252, 0.25);
}
