.memoryGame {
  font-family: sans-serif;
  text-align: center;
  margin: 20px;
  color: white;
}

.levelSelect {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.gameBoard {
  display: grid;
  justify-items: center;
  grid-gap: 0.25rem;
  max-width: fit-content;
  margin: auto;
}

.card {
  width: 5rem;
  height: 5rem;
  background-color: white;
  color: black;
  display: flex;
  font-size: xx-large;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;

  & > * {
    transform: rotateY(180deg);
  }
}

.flipped {
  background-color: antiquewhite;
  transform: rotateY(180deg);
  border: 1px solid #000;
}

.matched {
  background-color: palegreen !important;
  cursor: not-allowed;
}

.gameInfo {
  margin-top: 20px;

  p {
    margin: 5px 0;
  }
}
