.article {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  font-size: small;
  font-weight: bold;

  & > p {
    text-wrap-mode: nowrap;
  }
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1rem;
  font-size: small;
  font-weight: bold;

  & > p {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    & > button {
      width: fit-content;
    }
  }
}

.isChecked {
  background-color: #39ac63;
}
.isNotChecked {
  background-color: #b44d4d;
}
