.aside {
  position: fixed;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 0.5rem;
  margin: 0.5rem;
  display: flex;
  gap: 0.25rem;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 0.5rem;
  backdrop-filter: blur(12px);

  @media (min-width: 768px) {
    top: 0;
    bottom: 0;
    left: auto;
    right: auto;
    flex-direction: column;
  }
}

.tooltip {
  position: absolute;
  visibility: hidden;
  margin-inline-start: 0;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  white-space: nowrap;
  background-color: #ffffff;
  opacity: 0;
  transition-property: all;
  transition-duration: 200ms;
  font-size: 0.75rem;
  padding: 0.5rem;
  border-radius: 0.5rem;

  :global(.group:hover) & {
    visibility: visible;
    opacity: 1;
    margin-inline-start: 1.25rem;
  }

  @media (min-width: 768px) {
    visibility: visible;
  }
}
